header {
   /* background-color: var(--bg-color-1); */
    background-image: url("../img/bg_wave_y.svg");
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 250px;
    background-color: var(--bg-color-1);
    z-index: 999;
}

.header-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: -200px;
}

.header-box img {
    width: 25dvw;
    margin-right: 13dvw;

}

.header-box h1 {
    width: 70%;
    font-size: 7dvw;
    font-weight: 600;
}